nav,
tr,
.btn-submit:hover {
    background: #c4bbdb;
    color: #402383;
}

body,
.item {
    background-image: linear-gradient(70deg, #402383, #7154b9);
    color: white;
}

input[type=number],
input[type=text],
input[type=date] {
    border: 2px solid #7f70a7;
}

.exitBtn,
.btn-submit {
    border: 2px solid #7f70a7;
    background: white;
    color: #402383;
    font-weight: bold;
}

.shadow {
    box-shadow: 0 5px 10px rgba(237, 239, 245, 0.05), 0 15px 40px rgba(194, 195, 199, 0.2);
}

.check-button,
.trash-button,
.undo-button,
.check-button:hover,
.trash-button:hover,
.undo-button:hover {
    filter: invert(100%) hue-rotate(-180deg);
}