@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* BODY */

body {
    font-family: 'Poppins', sans-serif;
    background-image: url('../assets/kimberly-farmer-lUaaKCUANVI-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
}

nav,
footer {
    width: 100%;
    height: 50px;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    position: fixed;
}

footer a,
.left-nav a {
    color: white;
    list-style: none;
    text-decoration: none;
}

footer {
    bottom: 0;
}

nav {
    top: 0;
}

.container {
    margin: 70px 20px;
    min-height: 80vh;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgba(75, 145, 148, 0.7);
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}

.plusIcon {
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

a .fa,
div .fa {
    font-size: 14px;
    margin-right: 3px;
    cursor: pointer;
}

div .fa:active {
    font-weight: bold;
}


/* BUTTONS */

.check-button {
    background: url('../assets/check-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-size: contain;
}

.trash-button {
    background: url('../assets/trash-outline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-size: contain;
}

.undo-button {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-size: contain;
}

.check-button:focus,
.trash-button {
    outline: none;
}

.wrapper #appearThis {
    display: none;
}