@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html,
body {
    font-family: Raleway;
    box-sizing: border-box;
}

nav {
    height: 50px;
    background: #5F30E2;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
}

nav button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: 1.25em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 120px;
}

.wrapper .container {
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    margin: 60px;
    flex-grow: 1;
    min-height: 80vh;
}

.item {
    border-radius: 16px;
    margin-top: 20px;
    padding: 12px 24px;
    background: #F5F1FF;
    display: flex;
    align-items: center;
    font-weight: bold;
    line-height: 1.5em;
}

table {
    width: 100%;
}

tr {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 10px;
    background-color: #5F30E2;
    color: #F5F1FF;
    font-weight: bold;
}

th {
    justify-content: space-evenly;
    align-items: center;
}

.inner {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    width: 100%;
}

.item>.inner h1,
.item>.inner h2,
.item>.inner h3,
.item>.inner h4,
.item>.inner p {
    margin: 5px;
    justify-content: space-evenly;
    /* border: 1px solid; */
    width: 100%;
    font-size: 1em;
}

.form {
    display: flex;
    padding: 16px;
    flex-direction: column;
    min-height: 300px;
    border-radius: 16px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 4px;
    font-size: 1.25em;
    font-weight: lighter;
}

.shadow {
    box-shadow: 0 5px 10px rgba(85, 95, 143, 0.05), 0 15px 40px rgba(23, 51, 163, 0.2);
}

input[type=number],
input[type=text],
input[type=date] {
    font-family: Raleway;
    background: #F5F1FF;
    border: 2px solid #9475EA;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 1em;
}

.exitBtn,
.btn-submit {
    width: fit-content;
    border: none;
    font-family: Raleway;
    border-radius: 16px;
    padding: 12px 24px;
    border: 2px solid #5F30E2;
    color: black;
    font-size: 1em;
    margin-top: auto;
    align-self: flex-end;
    cursor: pointer;
}

.btn-submit:hover {
    background: #5F30E2;
    color: #F5F1FF;
}

input[type=number],
input[type=text],
input[type=date],
.btn-submit:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.form-title {
    margin: auto 0;
}

.check-button {
    background: url('../assets/check-outline.svg');
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-repeat: no-repeat;
}

.check-button:hover {
    background: url('../assets/check-solid.svg');
    background-repeat: no-repeat;
}

.trash-button {
    background: url('../assets/trash-outline.svg');
    width: 40px;
    height: 40px;
    margin-left: 16px;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
}

.trash-button:hover {
    background: url('../assets/trash-fill.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.undo-button {
    background: url('../assets/undo-ouline.svg');
    width: 40px;
    height: 40px;
    margin-left: auto;
    cursor: pointer;
    background-repeat: no-repeat;
    border: none;
}

.undo-button:hover {
    background: url('../assets/undo-ouline.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.check-button:focus,
.trash-button {
    outline: none;
}

.appearThis {
    display: none;
}

footer {
    padding: 10px;
    font-size: 0.9em;
}

@media screen and (max-width: 700px) {
    .wrapper {
        margin-top: 60px;
        padding: 20px;
    }
    .wrapper .container {
        width: 100%;
        padding: 10px;
        margin: 20px 10px;
    }
    .trash-button,
    .undo-button {
        margin: 0;
        padding: 0;
    }
}